langchain
langchain-openai
langchain-qdrant
docling
python-dotenv
python-multipart
fastapi
uvicorn
streamlit
sqlalchemy 
alembic
passlib
bcrypt==4.0.1
python-jose[cryptography]
fastembed
qdrant-client
langchain_text_splitters
sentence-transformers